<!DOCTYPE HTML>
<html>
<head>
	<title>{{ .Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
    {{ partial "header.html" . }}

	<!-- Menu -->
    {{ partial "menu.html" . }}

	<!-- Main -->
	<div id="main">
        {{ range .Data.Pages.ByPublishDate }}
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    <p>{{ .Content }}</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                </div>
            </header>
			<a href="#" class="image featured"><img src="/{{ .Params.image }}" alt="" /></a>
			<p>{{ .Content }}</p>
			<footer>
				<ul class="actions">
					<li><a href="#" class="button big">Continue Reading</a></li>
				</ul>
				<ul class="stats">
					<li><a href="#">General</a></li>
					<li><a href="#" class="icon fa-heart">28</a></li>
					<li><a href="#" class="icon fa-comment">128</a></li>
				</ul>
			</footer>
        </article>
        {{ end }}

		<!-- Pagination -->
		<ul class="actions pagination">
			<li><a href="" class="disabled button big previous">Previous Page</a></li>
			<li><a href="#" class="button big next">Next Page</a></li>
		</ul>

	</div>

	<!-- Sidebar -->
    {{ partial "sidebar.html" . }}

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
<script src="/js/main.js"></script>

</body>
</html>